body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#comic-container {
    display: flex;
    flex-direction: column;
}

.comic-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    /* Добавьте стили для каждой страницы комикса */
}
