body {
    margin: 0;
    padding: 0;
    overflow: auto; /* Используйте auto, чтобы включить прокрутку, когда это необходимо */
}

#comic-container {
    display: flex;
    flex-direction: column;
}

.comic-page {
    width: 100vw; /* Занимает всю ширину видимой области */
    height: 100vh; /* Занимает всю высоту видимой области */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; /* Скрыть горизонтальную прокрутку внутри каждой страницы */
}

.comic-page img {
    width: 100%; /* Растягивается по ширине контейнера */
    height: auto; /* Сохраняет пропорции изображения */
}

