body {
    margin: 0;
    padding: 0;
    overflow: auto; /* Используйте auto, чтобы включить прокрутку, когда это необходимо */
}

#comic-container {
    display: flex;
    flex-direction: column;
}

.comic-page {
    width: 100vw; /* Занимает всю ширину видимой области */
    height: 100vh; /* Занимает всю высоту видимой области */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; /* Запрещает уменьшение размеров внутреннего контента */
}

.comic-page img {
    max-width: 100%; /* Растягивается по ширине контейнера, но не больше оригинального размера */
    height: auto; /* Сохраняет пропорции изображения */
}


